<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>putio-sync</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">
    
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="/static/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style="padding-top: 60px">

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">putio-sync</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li><a href="#" data-toggle="modal" data-target="#new-transfer-modal">New Transfer</a></li>
            <li><a href="/active">Queue/Active</a></li>
            <li><a href="/history">History</a></li>
            <li><a href="http://put.io/">Put.io</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="http://github.com/posborne/putio-sync"><img src="/static/blacktocat.png" height="16px"/>&nbsp;&nbsp;Github Project</a>
            </li>
          </ul>

        </div>
      </div>
    </div>

    <div class="container" style="clear:both">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="error-messages">
            {% for category, message in messages %}
            <div class="alert alert-{{category}} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        {% block body %}{% endblock %}
    </div><!-- /.container -->

<!-- Modal -->
<div class="modal fade" id="new-transfer-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="myModalLabel">New Transfer</h4>
      </div>
      <div class="modal-body">

	<form id="new-transfer-form" method="post" enctype = "multipart/form-data" action="/new">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>


	  <div class="form-group">
	    <label for="torrent-file" class="control-label">Torrent File:</label>

        <div class="input-group">
        <input type="text" class="form-control" placeholder="Torrent File" id="torrent-file-name" disabled>
        <span class="input-group-btn">
            <label class="btn btn-primary" for="torrent-file">
                <input id="torrent-file" type="file">
                Browse
            </label>
        </span>
        </div>
	  </div>
	  <div class="form-group">
	    <label for="magnet-link" class="control-label">Magnet Link / URL:</label>
	    <textarea class="form-control" id="magnet-link" name="magnet_link" placeholder="magnet:..."></textarea>
	  </div>
	</form>
      </div>
      <div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	<button type="button" class="btn btn-primary save">Download</button>
      </div>
    </div>
  </div>
</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/js/jquery.flot.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/handlebars-v1.3.0.js"></script>
    <script id="new-transfer-js">
        $(function () {
            $('#new-transfer-modal').on('click', '.save', function (e) {
                $('#new-transfer-form').submit();
                 $('#new-transfer-modal').modal('hide');
            });
            $('#torrent-file').on('change', function(e) {
                $('#torrent-file-name').val(this.files[0].name);
            });
        });
    </script>
    {% block javascript %}{% endblock %}
  </body>
</html>
